.header {
    overflow: auto;
    height: 150px;
    background-image: linear-gradient(30deg, #3c2b25, #9a6868);
    color: white;
    font-family: 'Amatic SC';
    display: flex;
    align-items: center;
    position: relative;
}
.header-text{
    height: 50px;
    font-size: 63px;
    left: 24px;
    position: absolute;
    top: 39px;
}
.header-text2{
    font-family: 'Jost';
    position: absolute;
    left: 25px;
    bottom: 16px;

}

.books{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
    font-family: Jost;
}


table{
    margin-left: 20px;

}
td {
    margin-left: 2px;
}

.fa-book{
    border:none;
    background-color: transparent;
    cursor:pointer;
}

.fa-book:hover{
    transform: scale(1.2);
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    position:absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 550px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    position:relative;
}

td, th{
    padding-left: 20px;
    padding-bottom: 20px;

}

input{
    width:70%;
    display: block;
    margin: 15px;
}

.close{
    font-size: 40px;
    position:absolute;
    top: 0px;
    right:14px;
    transform: rotate(45deg);
    cursor:pointer;
}